@charset "UTF-8";
/*Reset Global*/
html {
  overflow-x: hidden;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

/*Variável*/
/*Theme*/
body {
  font-size: 100%;
  font-family: "Barlow", sans-serif;
  background-color: #fff;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  color: #464655;
  font-size: 18px;
}

/*Cor do Scroll*/
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: -webkit-gradient(linear, left top, right top, from(#446058), to(#507764));
  background: linear-gradient(90deg, #446058, #507764);
}

body::-webkit-scrollbar-thumb {
  background-color: #fab519;
  border-radius: 20px;
  border: 2px solid #fab519;
}

/*Owl*/
.owl-theme {
  margin: 0 auto;
}

.owl-theme .owl-nav {
  margin-top: 10px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.owl-theme .owl-nav .owl-prev {
  font-size: 100px !important;
  position: absolute;
  left: -4vw;
  color: #fab519 !important;
}

.owl-theme .owl-nav .owl-prev:hover {
  background: transparent;
  color: #507764 !important;
}

.owl-theme .owl-nav .owl-next {
  font-size: 100px !important;
  position: absolute;
  right: -4vw;
  color: #fab519 !important;
}

.owl-theme .owl-nav .owl-next:hover {
  background: transparent;
  color: #507764 !important;
}

/*Preloader*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: white;
}

.preloader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 115px;
  height: 25px;
  margin: 0px 0 0 -55px;
  z-index: 1500;
}

.preloader span {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: #fab519;
  opacity: 0.5;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.9);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.9);
  -webkit-animation: preloader 1.2s infinite ease-in-out;
          animation: preloader 1.2s infinite ease-in-out;
}

.preloader span:nth-child(1) {
  left: 0px;
}

.preloader span:nth-child(2) {
  left: 22px;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.preloader span:nth-child(3) {
  left: 44px;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.preloader span:nth-child(4) {
  left: 66px;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.preloader span:nth-child(5) {
  left: 88px;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

@-webkit-keyframes preloader {
  25% {
    opacity: 0.7;
    background: white;
  }
  50% {
    opacity: 1;
    -webkit-box-shadow: 0 5px 3px rgba(0, 0, 0, 0.5);
            box-shadow: 0 5px 3px rgba(0, 0, 0, 0.5);
  }
  75% {
    opacity: 0.7;
    background: white;
  }
}

@keyframes preloader {
  25% {
    opacity: 0.7;
    background: white;
  }
  50% {
    opacity: 1;
    -webkit-box-shadow: 0 5px 3px rgba(0, 0, 0, 0.5);
            box-shadow: 0 5px 3px rgba(0, 0, 0, 0.5);
  }
  75% {
    opacity: 0.7;
    background: white;
  }
}

/*-----Form-------*/
/*Placeholder*/
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: orange;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: orange;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: orange;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: orange;
}

/*Nav*/
.bg-header.active {
  background: -webkit-gradient(linear, left top, right top, from(#446058), to(#507764));
  background: linear-gradient(90deg, #446058, #507764);
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 0.55);
  border-color: rgba(255, 255, 255, 0);
  margin-top: .5rem;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 13h22M4 19h22'/%3e%3c/svg%3e") !important;
}

.navbar-toggler-icon {
  width: 2.5em;
  height: 1.5em;
}

.navbar-dark .navbar-brand,
.navbar-right {
  width: 20%;
  max-width: 250px;
}

@media (max-width: 767px) {
  .navbar-dark .navbar-brand,
  .navbar-right {
    width: 35%;
  }
}

.navbar-right {
  text-align: right;
}

@media (max-width: 342px) {
  .navbar-right {
    display: none;
  }
}

.navbar-right a.link {
  border: 1px solid #fab519;
  border-radius: 10px 0px 10px 0px;
  padding: .3rem .8rem;
}

.navbar-right a.link:hover {
  background: #507764;
  color: #fab519;
}

@media (max-width: 567px) {
  .navbar-right a.link {
    font-size: 12px;
  }
}

li.nav-item {
  text-align: center;
}

li.nav-item .dropdown-item {
  text-align: center;
}

.dropdown-menu {
  background-color: #456159;
}

.dropdown-item {
  color: #a4b9a4;
}

.dropdown-item:hover {
  background-color: #4f7563;
}

/*Carousel*/
.owl-carousel.owl-banner .title {
  font-weight: 100;
  font-size: 5vw;
  margin-left: 1.8vw;
}

.owl-carousel.owl-banner .container {
  position: relative;
}

.carousel-caption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 55vw;
  text-align: left;
}

@media (max-width: 567px) {
  .carousel-caption {
    height: 46vw;
  }
}

/*Style Padrão*/
.nav-item.active a {
  color: #fff;
}

.section {
  padding: 6rem 0;
}

.section .title {
  font-size: 21px;
  font-family: "Barlow", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: #507864;
  margin-bottom: 2.5rem;
}

@media (max-width: 991px) {
  .section .title {
    margin-bottom: 1rem;
  }
}

.section .sub-title {
  font-size: 21px;
  font-family: "Barlow", sans-serif;
  font-weight: 800;
  color: #507864;
  margin-bottom: 2rem;
}

.section .link.saiba-mais {
  font-size: 21px;
  font-family: "Barlow", sans-serif;
  font-weight: 800;
  color: #507864;
  border: 1px solid #000;
  border-radius: 10px 0px 10px 0px;
  padding: 0.3rem 0.8rem;
  margin-top: 1.5rem;
  display: table;
}

.section .link.saiba-mais:hover {
  background: #fab519;
  color: #fff;
}

/*Section Form*/
#section-form {
  position: relative;
  z-index: 99;
  margin-top: -7vw;
}

#box-form-cotacao {
  max-width: 1300px;
  background: -webkit-gradient(linear, left top, right top, from(#446058), to(#507764));
  background: linear-gradient(90deg, #446058, #507764);
}

/*Section Serviços*/
#section-serviços .row {
  margin-bottom: 6rem;
}

#section-serviços .sub-title.destaque {
  text-align: center;
  font-size: 48px;
  font-weight: 100;
}

#section-serviços .img-transporte-veiculos {
  margin-left: -142px;
}

/*Section Atuação*/
#section-atuacao.bg {
  background-color: #f1f1f1;
}

#section-atuacao .col-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 767px) {
  #section-atuacao .col-flex {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

/*Section Clientes*/
#section-clientes {
  padding: 3rem 0;
}

#section-clientes .title {
  margin-bottom: 0.8rem;
}

/*Section Blog*/
#section-blog.bg {
  background: -webkit-gradient(linear, left top, right top, from(#446058), to(#507764));
  background: linear-gradient(90deg, #446058, #507764);
  padding-top: 0;
}

#section-blog .title {
  color: #fff;
}

#section-blog a:hover p {
  color: #fff;
}

#section-blog .paragraph {
  color: #bee1b9;
  font-size: 26px;
  font-weight: 100;
  font-style: italic;
}

#section-blog .row {
  margin-bottom: 3rem;
}

/*Section Depoimentos*/
#section-depoimentos.bg {
  background: url(../images/bg-depoimentos.jpg) no-repeat top right;
}

#section-depoimentos .ico-depoimento-inicio {
  width: inherit !important;
  position: absolute;
  margin-top: -2rem;
  margin-left: 3rem;
}

#section-depoimentos .ico-depoimento-fim {
  width: inherit !important;
  float: right;
  margin-right: 3rem;
  margin-top: -3rem;
}

#section-depoimentos p {
  background: #f1f1f1;
  padding: 3rem;
  border-radius: 20px 0px 20px 0px;
  margin-top: 2rem;
}

/*Pages*/
.bg-ondulacao-banner-pages {
  margin-top: -16vw;
  z-index: 9;
  position: relative;
}

@media (max-width: 991px) {
  .bg-ondulacao-banner-pages {
    margin-top: -17vw;
  }
}

@media (max-width: 700px) {
  .bg-ondulacao-banner-pages {
    margin-top: -18vw;
  }
}

@media (max-width: 554px) {
  .bg-ondulacao-banner-pages {
    margin-top: -19vw;
  }
}

@media (max-width: 480px) {
  .bg-ondulacao-banner-pages {
    margin-top: -20vw;
  }
}

@media (max-width: 385px) {
  .bg-ondulacao-banner-pages {
    margin-top: -21vw;
  }
}

/*Section Page Empresa*/
#section-empresa {
  padding-top: 0rem;
}

#section-empresa .sub-title {
  font-size: 21px;
  font-family: "Barlow", sans-serif;
  font-weight: 800;
  color: #507864;
  margin-top: 2rem;
  margin-bottom: .5rem;
}

/*Aside*/
#aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#aside .box {
  margin-top: 3rem;
  padding: 1rem 5rem;
}

#aside .link {
  border: 3px solid #fab519;
  border-radius: 20px 0px 20px 0px;
  padding: 0.8rem 1.8rem;
  font-size: 41px;
  color: #507764;
  font-weight: 800;
  margin-top: .6rem;
  display: block;
}

@media (max-width: 1199px) {
  #aside .link {
    font-size: 34px;
  }
}

@media (max-width: 991px) {
  #aside .link {
    font-size: 22px;
  }
}

#aside .box.bg {
  background: -webkit-gradient(linear, left top, right top, from(#446058), to(#507764));
  background: linear-gradient(90deg, #446058, #507764);
  border-radius: 20px 0px 20px 0px;
}

@media (max-width: 1199px) {
  #aside .box.bg {
    padding: 1rem 2rem;
  }
}

@media (max-width: 991px) {
  #aside .box.bg {
    padding: 0.5rem 1rem;
  }
}

#aside .box .sub-title {
  color: #bee1b9;
}

#aside .box .paragraph {
  color: #fff;
}

/*Footer*/
#footer.bg {
  background: #464655;
  position: relative;
}

#footer .section {
  padding-bottom: .8rem;
}

@media (max-width: 991px) {
  #footer .section {
    padding: 3.5rem;
    padding-bottom: 1rem;
  }
}

#footer .title {
  color: #bee1b9;
  text-transform: capitalize;
  text-align: left;
}

#footer .paragraph {
  color: #fff;
  text-align: left;
  margin-bottom: 2rem;
}

#footer .paragraph a {
  color: #bee1b9;
}

#footer .box-redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.5rem;
}

#footer .box-redes a {
  margin-right: 1rem;
}

#footer .box-redes a:hover {
  color: #fff;
}

#footer .link {
  font-size: 18px;
  margin-bottom: 1rem;
  display: block;
}

#footer .link:hover {
  color: #bee1b9;
}

@media (max-width: 991px) {
  #footer .link {
    margin-bottom: .5rem;
  }
}

#footer .text-copyright {
  text-align: center;
  color: #507864;
  border-top: 1px solid #507864;
  width: 100%;
  display: block;
  padding-top: 1rem;
  margin-top: 2rem;
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 991px) {
  #footer .text-copyright {
    margin-top: 0;
  }
}

/**Responsive**/
@media (max-width: 991px) {
  #footer .coluna {
    margin-bottom: 2rem;
  }
}
/*# sourceMappingURL=theme.css.map */